@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSans-Medium.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSans-Light.ttf') format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: local('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: 600;
}